<div class="flex items-center justify-center">
    <div class="text-center">
        <img src="https://cdn.discordapp.com/attachments/1157712444739829850/1166859718468304987/Sin_titulo-1.png?ex=654c05cc&is=653990cc&hm=64f4e5680affd104e85daa52ef6caeb86cd1aec999bb4bc977f40a9b7c46a306&"
            alt="Error 404" class="w-96 h-96 mx-auto mb-8">
        <h1 class="text-4xl font-bold text-gray-800">Parece que ha ocurrido un error...</h1>
        <p class="text-lg text-gray-700">Lo siento, amigo, parece que la página que buscas no existe. McLovin no puede encontrarla.</p>
    </div>
</div>